<!--<app-paginated-posts/>-->
<app-client-side-paginated-posts
	[filterFunction]="filterFunction"
	[data]="(posts$ | async)!"
	[displayedColumns]="columns"
>
	<app-row [id]="'id'">
		<ng-container *app-cell-header> ID </ng-container>
		<ng-container *app-cell-body="let user"> {{ user.id }} </ng-container>
	</app-row>

	<app-row [id]="'userId'">
		<ng-container *app-cell-header> UserId </ng-container>
		<ng-container *app-cell-body="let user"> {{ user.userId }} </ng-container>
	</app-row>

	<app-row [id]="'title'">
		<ng-container *app-cell-header> Title </ng-container>
		<ng-container *app-cell-body="let user"> {{ user.title }} </ng-container>
	</app-row>

	<app-row [id]="'body'">
		<ng-container *app-cell-header> Body </ng-container>
		<ng-container *app-cell-body="let user"> {{ user.body }} </ng-container>
	</app-row>
</app-client-side-paginated-posts>

<!--<app-post-list/>-->
